<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link type="text/css" rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="wrapper">
            {%if error == "fouteLogin"%}
                <div class="error">
                    <p>Email of wachtwoord is fout, probeer op nieuw of indien u nog geen account hebt
                        <a href="registrerenController.php">registreer</a> u hier.
                    </p>
                </div>
            {%endif%}
            <form method="POST" action="aanmeldenController.php?action=aanmelden">
                <label for="txtEmail">Email:</label>
                <input type="email" name="txtEmail" value="{{email}}"/>
                <label for="txtWachtwoord">Wachtwoord:</label>
                <input type="password" name="txtWachtwoord" />
                <input type="submit" value="Aanmelden" />
            </form>
            <div class="links">
                <ul>
                    <li><a href="aanbodController.php">Terug naar aanbod</a></li>
                </ul>            
            </div>
        </div>
    </body>
</html>
